* {
    padding: 0;
    margin: 0;
    /* border: 2px solid blue; */
    font-size: 26px;
    box-sizing: border-box;
    color: #f7f3ee;
    font-family: 'Segoe UI';
}

@media screen and (min-width: 400px) {
    .container {
        background-color: #18130b;
        display: flex;
        height: 100vh;
    }
}

@font-face {
    font-family: "Mulish-Black";
    src: url(/fonts/Mulish-Black.ttf);
}

img {
    height: 100%;
    width: 100%;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}
    
.sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    flex: 1;
}

.description {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 100px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    padding: 60px 0px 60px 100px;
    column-gap: 120px;
    background-color: #aa8450;
    box-shadow: 0px 10px 8px #231b10;
}

.btn {
    margin-top: 60px;
    margin-left: 100px;
    background-color: transparent;
    border: 3px solid #aa8450;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.btn:hover {
    cursor: pointer;
}

.btn::before {
    transition: 500ms all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #aa8450;
}

.btn:hover::before {
    transition: 500ms all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.footer {
    margin-left: 100px;
    margin-top: 60px;
}

input {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    color: black;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
}

input:focus {
    box-shadow: 2px 2px 6px black;
}

label {
    text-transform: uppercase;
    font-size: 20px;
}

.media {
    position: relative;
    margin: 2px;
    flex: 1;
    overflow: hidden;
}

.icon {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    min-width: 100%;
    min-height: 10%;
    top: 18%;
    align-items: center;
    justify-content: center;
    font-family: "Mulish-Black";
    color: white;
}

.icon img {
    width: 6%;
}

.credit {
    position: absolute;
    bottom: 1%;
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    color: #2b281c;
}