* {
    padding: 0;
    margin: 0;
    border: 2px solid blue;
    font-size: 40px;
    box-sizing: border-box;
}

@media screen and (min-width: 400px) {
    .container {
        background-color: lightgrey;
        display: flex;
        height: 99vh;
    }
}

img {
    height: 100%;
    width: 100%;
}

.cover {
    object-fit: cover;
}
    
.sign-up {
    background-color: aquamarine;
    padding: 10px;
    margin: 2px;
    flex: 1 1 20%;
}

.media {
    background-color: lightblue;
    margin: 2px;
    flex: 1;
}